@font-face {
    font-family: 'pr-regular';
    font-style: normal;
    font-weight: normal;
    src:
      url('./assets/fonts/regular.woff') format('woff')
  }

  @font-face {
    font-family: 'pr-semibold';
    font-style: normal;
    font-weight: normal;
    src:
      url('./assets/fonts/semibold.woff') format('woff')
  }

  
  @font-face {
    font-family: 'pr-light';
    font-style: normal;
    font-weight: normal;
    src:
      url('./assets/fonts/light.woff') format('woff')
  }

  @font-face {
    font-family: 'pr-extrabld';
    font-style: normal;
    font-weight: normal;
    src:
      url('./assets/fonts/extrabld.woff') format('woff')
  }

:root {
    --text-main-color: #000; 
    --text-secont-color: #848484;
    --text-value-color: #535353;

    --header-color: #9f9f9f;

    --bg-color: #edf4fb;
    --header-bg: #efefef;
    --row-bg: #fff;

    --row-active-color: #edf4fb;
    --icon-active-color: #7799cb;

    --icon-color: #e6e6e6;

    --depends-bg-color: #f0efee;
    --depends-icon-color: #d9d8d7;

    --scroll-color: #629dd6;
    --scroll-bg-color: #d3d3d3;
    --scroll-wide: 6px;

    --default-padding: 0 20px;
    --table--border: 1px #e6e6e6 solid;

    --common-grid: 6fr 4fr 3fr 2fr 2fr;

}

body{
    background-color: #b5b6b6;
    
}
